.all-secs {

	background: #fff; 
	margin: 10px auto; 
	padding: 20px; 
	border: 1px solid


} 

p.italic {
    font-style: italic;
}



@media only screen and (max-width:566px) {

img.food {
	width: 75%;
	height: auto;
	}



	}